<p>{{ ANREDE }} {{ NAME }}, </p>
<p></p>
<p>{{ 'email_template.you_responsible.part1'|trans }}  <a href="{{ LINK }}" target="_blank">{{ BETRIEB }}</a>.{{ 'email_template.you_responsible.part2'|trans }}</p>
<p>{{ 'email_template.find_someone'|trans }}</p>
<p>{{ 'email_template.information'|trans }}: {{ 'email_template.manual_slots_get_ignored'|trans }}</p>
<p>{{ 'email_template.help_needed.main'|trans }}: <a href="{{ 'email_template.help_needed.link'|trans }}</a> {{ 'email_template.help_needed.or'|trans }} <a href="{{ 'email_template.help_needed.support_mail'|trans }}" target="_blank">{{ 'email_template.help_needed.support_mail'|trans }}</a></p>
