<p>{{ ANREDE }} {{ NAME }}, </p>
<p></p>
<p>{{ 'email.you_responsible.part1'|translate }}  <a href="{{ LINK }}" target="_blank">{{ BETRIEB }}</a>.{{ 'email.you_responsible.part2'|translate }}</p>
<p>{{ 'email.find_someone'|translate }}</p>
<p>{{ 'email.information'|translate }}: {{ 'email.manual_slots_get_ignored'|translate }}</p>
<p>{{ 'email.help_needed.main'|translate }}: <a href="{{ 'email.help_needed.link'|translate }}</a> {{ 'email.help_needed.or'|translate }} <a href="{{ 'email.link.support_mail'|translate }}" target="_blank">{{ 'email.support_mail'|translate }}</a></p>
