<div class="border">
<p>{{ MESSAGE }}</p>
    <p>{{ 'email_template.from'|trans }}: {{ SENDER }} {% if CHATNAME != SENDER %} {{ 'email_template.to'|trans }} {{ CHATNAME }}{% endif %}</p>
</div>
<p></p>
<p><a href="{{ LINK }}" target="_blank" class="button">{{ 'email_template.reply'|trans }}</a></p>