<div class="border">
<p>{{ MESSAGE }}</p>
    <p>{{ 'email.from'|translate }}: {{ SENDER }} {% if CHATNAME != SENDER %} {{ 'email.to'|translate }} {{ CHATNAME }}{% endif %}</p>
</div>
<p></p>
<p><a href="{{ LINK }}" target="_blank" class="button">{{ 'email.reply'|translate }}</a></p>