{% set swapMsg = 'Welcher Bezirk soll neu angelegt werden?' %}

<div style="display: none;">
    <div id="becomeBezirk">
        <div class="popbox">
            <h3>{{ 'becomeregion.chooseregion'|trans }}</h3>
            <p class="subtitle">
                {{ 'becomeregion.enterregion.main'|trans }}
                <a href="https://wiki.foodsharing.de/Bezirk_gr%C3%BCnden_oder_reaktivieren">{{ 'becomeregion.enterregion.region_link_text'|trans }}</a>
                {{ 'becomeregion.enterregion.text1'|trans }} <a href="mailto:welcome@foodsharing.network">welcome@foodsharing.network</a>
                {{ 'becomeregion.enterregion.text2'|trans }}
            </p>

            {% set id = 'becomebezirkchooser' %}

            <div style="height:260px;">

                {% include 'partials/bezirkChildChooser.twig' with { id: id } %}

            </div>
            <p class="bottom">
                <span id="{{ id }}-button">{{ 'becomeregion.save'|trans }}</span>
            </p>
        </div>
    </div>
    <a id="becomeBezirk-link" href="#becomeBezirk">&nbsp;</a>
</div>
