<div class="border">
<p>{{ POST|raw }}</p>
    <p>{{ 'email_template.foodsharepoint'|trans }} {{  FAIRTEILER }}</p>
    <p><a href="{{ LINK }}" target="_blank" class="button">{{ 'email_template.login'|trans }}</a></p>
</div>