<div class="border">
<p>{{ POST|raw }}</p>
    <p>{{ 'email.foodsharepoint'|translate }} {{  FAIRTEILER }}</p>
    <p><a href="{{ LINK }}" target="_blank" class="button">{{ 'email.login'|translate }}</a></p>
</div>