{% extends 'layouts/default.twig' %}

{% block main %}
    {{ form_start(form) }}
    {% embed 'components/field.twig' with {'title': 'legal.pp'|trans, 'classes': ['ui-padding']} %}
        {% block content %}
            {{ privacy_policy|raw }}
        {% endblock %}
    {% endembed %}
    {% embed 'components/field.twig' with {'title': 'legal.acknowledge'|trans, 'classes': ['ui-padding']} %}
        {% block content %}
            {{ 'legal.not_acknowledge_pp_description'|trans }}
            {{ form_row(form.privacy_policy) }}
            <a href="/?page=settings&sub=deleteaccount">{{ 'legal.delete_account'|trans }}</a>
        {% endblock %}
    {% endembed %}
    {% if show_privacy_notice %}
        {% embed 'components/field.twig' with {'title': 'legal.privacy_notice'|trans, 'classes': ['ui-padding']} %}
            {% block content %}
                {{ privacy_notice|raw }}
            {% endblock %}
        {% endembed %}
        {% embed 'components/field.twig' with {'title': 'legal.acknowledge'|trans, 'classes': ['ui-padding']} %}
            {% block content %}
                {{ 'legal.not_acknowledge_pn_description'|trans }}
                {{ form_row(form.privacy_notice) }}
            {% endblock %}
        {% endembed %}
    {% endif %}
    <input type="submit" value="{{ 'legal.actions.safe'|trans }}" />
    {{ form_end(form) }}
{% endblock %}
