{% if activate_url is defined %}
    {% embed 'components/field.twig' with {'title': 'forum.thread_is_inactive', 'classes': ['ui-padding']} %}
        {% block content %}
            {% include 'partials/info.twig' with {'msg': 'forum.thread_is_inactive_description'} %}
            <div class="ui-padding" style="text-align:center;">
                <a class="button" href="{{ activate_url }}">{{ 'forum.activate_thread'|trans }}</a>
                <a class="button" href="{{ delete_url }}"
                   onclick="if(!confirm('{{ 'really_delete'|trans }}')){return false;}">{{ 'forum.delete_thread'|trans }}</a>
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}

{% include "partials/vue-wrapper.twig" with {
    elementName: "thread",
    props: {
        id: thread.id,
    }
} %}
