<div class="border">
<p>{{ POST }}</p>
<p>-- {{ POSTER }} in <a href="{{ LINK|raw }}" target="_blank">{{ THEME }}</a></p>
<p><a href="{{ LINK|raw }}" target="_blank" class="button">Einloggen zum Antworten</a></p>
</div>