<div class="border">
<p>{{ POST|raw }}</p>
<p>-- {{ POSTER }} in <a href="{{ LINK }}" target="_blank">{{ THEME }}</a></p>
<p><a href="{{ LINK }}" target="_blank" class="button">Einloggen zum Antworten</a></p>
</div>