<p>{{ ANREDE }} {{ NAME }},</p>
<p></p>
<p>{{ POSTER }} m&ouml;chte das Thema "<a href="{{ LINK }}" target="_blank">{{ THREAD }}</a>" absenden. Da Du Botschafter f&uuml;r {{ BEZIRK }} bist, musst Du es best&auml;tigen, bevor es ver&ouml;ffentlicht wird.</p>