<p>{{ ANREDE }} {{ NAME }}, </p>
<p></p>
<p>{{ POSTER }} hat ein neues Thema ins Botschafter-Forum gepostet.</p>
<p></p>
<div class="border">
<p><a href="{{ LINK|raw }}" target="_blank">{{ THREAD }}</a></p>
<p>{{ POST }}</p>
<p><a href="{{ LINK|raw }}" target="_blank" class="button">Einloggen zum Antworten</a></p>
<p></p>
<p>Alles Liebe, <br />Dein foodsharing.de Team</p>
</div>
