<div class="border">
<p>{{ MESSAGE }}</p>
<p>-- Von: {{ SENDER }} {% if CHATNAME|length > 0 %} an {{ CHATNAME }}{% endif %}{% if STORE is not null %} im Betrieb <a href="{{ STORE.LINK }}">{{   STORE.name }}</a>{% endif %}</p>
</div>
<p></p>
<p><a href="{{ LINK }}" target="_blank" class="button">Antworten</a></p>