<tr>
    <td height="20" valign="top" style="background-color:#FAF7E5">
        <div style="text-align:center;padding-top:10px;font-size:11px;font-family:Arial;padding:15px;color:#594129;">
            {{ 'email.newsletter.unsubscribe'|translate }} <a style="color:#F36933" href="https://foodsharing.de/?page=login&sub=unsubscribe&t={{ TOKEN }}&e={{ EMAIL }}" target="_blank">{{ 'email.newsletter.linktext'|translate }}  </a>
            {{ 'email.dont_respond.you_can'|translate }} <a style="color:#F36933" href="https://foodsharing.de/?page=settings&sub=info" target="_blank">{{ 'email.dont_respond.notification'|translate }}</a>{{ 'email.dont_respond.nomail'|translate }}
        </div>
        <p style="font-size:11px;">{{ 'email.impress.title'|translate }}</p>
        <p style="font-size:11px;">{{ 'email.impress.general_information_requirements'|translate }}:</p>
        <p style="font-size:11px;">{{ 'email.impress.address'|translate }}</p>
    </td>
</tr>