<tr>
    <td height="20" valign="top" style="background-color:#FAF7E5">
        <div style="text-align:center;padding-top:10px;font-size:11px;font-family:Arial;padding:15px;color:#594129;">
            <p>{{ 'email.dont_respond.noreply'|translate }}</p>
            <p>{{ 'email.dont_respond.no_notification_link'|translate }} {{ 'email.dont_respond.you_can'|translate }} <a style="color:#F36933" href="https://foodsharing.de/?page=settings&sub=info" target="_blank">
                {{ 'email.dont_respond.notification'|translate }}</a>{{ 'email.dont_respond.nomail'|translate }}</p>
        </div>
    </td>
</tr>