{% import 'partials/menu.twig' as sidenav %}
{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
    {% embed 'components/field.twig' with {'title': 'fairteiler.all_at'|trans({'%name%': region.name})} %}
            {% block content %}
                <ul class="linklist fairteilerlist">
                    {% for ft in fairteiler %}
                        <li>
                            <a href="/?page=fairteiler&bid={{ region.id }}&sub=ft&id={{ ft.id }}">
                                {% if ft.pic %}
                                    <span class="image ui-corner-all" style="background-image:url({{ ft.pic.thumb }});"></span>
                                {% else %}
                                    <span class="image noimage ui-corner-all" style="background-image:url(img/fairteiler_thumb.png);"></span>
                                {% endif %}
                                <span class="name">{{ ft.name }}</span>
                                <span class="clear"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
    {% endembed %}
{% endblock %}

{% block right %}
    {{ sidenav.menu_tree({'items': {'href': '/?page=fairteiler&bid=' ~ region.id ~ '&sub=addFt', 'name': 'fairteiler.add_new'|trans() }}, 'options'|trans) }}
{% endblock %}
