<div class="welcome ui-padding margin-bottom ui-corner-all">
    <div class="welcome_profile_name">
        <div class="user_display_name">
            {{ region.name }}
        </div>
        <div class="welcome_quick_link">
            <ul>
                <li>{{ 'terminology.n_foodsaver'|transchoice(region.stat.num_fs) }}, {{ 'terminology.n_sleeping'|transchoice(region.stat.num_sleeping) }}, {{ 'terminology.n_ambassadors'|transchoice(region.stat.num_ambassadors) }}, {{ 'terminology.n_stores'|transchoice(region.stat.num_stores) }}, {{ 'terminology.n_cooperating_stores'|transchoice(region.stat.num_cooperations) }}</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="welcome_profile_survived">
        <img height="50" width="50" class="image_online" alt="" src="img/gerettet_icon.png" />
    </div>
    <div class="user_display_name" style="float:right;margin:5px 10px 0 0;">
        {{ 'statistics.kg_food_saved'|trans({'%count%': region.stat.pickup_weight_kg}) }}
        <br />
        <span style="font-size:13px;line-height:25px;font-weight:normal;">{{ 'statistics.num_fetches'|transchoice(region.stat.num_pickups) }}</span>
    </div>

    <div class="clear"></div>
</div>
