<p>{{ ANREDE }} {{ NAME }},</p>
<p>{{ POSTER }} {{ 'email_template.confirm_link'|trans }} <a href="{{ LINK }}" target="_blank">{{ THREAD }}</a> {{ 'email_template.confirm_BOT'|trans }} </p>
<p>{{ POST|raw }}</p>
