<p>{{ ANREDE }} {{ NAME }},</p>
<p>{{ POSTER }} {{ 'email.confirm_link'|translate }} "<a href="{{ LINK }}" target="_blank">{{ THREAD }}</a>" {{ 'email.confirm_BOT'|translate }} </p>
<p>{{ POST|raw }}</p>
