<div class="border">
<p>{{ POST|raw }}</p>
    <p>-- {{ POSTER }} {{ 'email_template.in'|trans }} <a href="{{ LINK }}" target="_blank">{{ THREAD }}</a></p>
    <p><a href="{{ LINK }}" target="_blank" class="button">{{ 'email_template.login'|trans }}</a></p>
</div>